<div class="modal fade" id="modalAdicionarCelebracao" data-bs-focus="false" aria-labelledby="modalAdicionarCelebracaoLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-scrollable">
		<form method="POST" action="{% url 'adicionar-celebracao' %}" class="modal-content" id="formAdicionarCelebracao">
			{% csrf_token %}
			<div class="modal-header">
				<h2 class="modal-title fs-5" id="modalAdicionarCelebracaoLabel">Nova Celebração</h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="form-floating mb-3">
					<input type="text" class="form-control" id="celebracaoTitulo" name="titulo" placeholder required>
					<label class="form-label" for="celebracaoTitulo">Título</label>
				</div>
				<div class="form-floating mb-3">
					<input type="date" class="form-control" id="celebracaoData" name="data" placeholder required>
					<label class="form-label" for="celebracaoData">Data da Celebração</label>
				</div>
				<div class="form-floating mb-3">
					<textarea class="form-control emojiarea" id="celebracaoTexto" name="texto" placeholder="Uma boa celebração: Reconhecer as pequenas vitórias, aniversários e ações legais que sua equipe faz. Evite enviar mensagens de bom dia, boa tarde, compartilhar informações não relevantes ao ambiente de trabalho."></textarea>
					<label for="celebracaoTexto">Texto</label>
				</div>
				<select class="form-select" id="celebracaoFuncionarios" name="funcionarios" multiple required style="height: 12rem;">
					{% for funcionario in funcionarios %}
						<option value="{{funcionario.id}}" selected>{{funcionario}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-tertiary text-light" data-bs-dismiss="modal">Cancelar</button>
				<button type="submit" class="btn btn-secondary text-light">Publicar</button>
			</div>
		</form>
	</div>
</div>