{% extends "base.html" %}
{% load static %}
{% load custom_tags %}

{% block title %} | Registro de Pontos | {{colaborador.nome_completo}}{% endblock %}

{% block content %}

{% include "includes/editar-ponto.html" %}

<div class="fluid-container p-4 m-0">
	<div class="card w-100 mb-4">
		<div class="card-header bg-primary text-light border-bottom border-light">
			<a class="text-light" href="{% url 'pontos' %}">Registro de Pontos</a>
			<i class="fa-solid fa-caret-right fa-2xs mx-2"></i>
			Colaborador
			<i class="fa-solid fa-caret-right fa-2xs mx-2"></i>
			{{colaborador.nome_completo}}
		</div>

		<div class="card-body">
			<!-- Filtros -->
			<div class="card card-filtros mb-4">
				<div class="card-header bg-body-tertiary">
					Informações & Filtros
				</div>
				<div class="card-body">
					<form method="GET" id="formFiltrarPonto">
						<div class="row mb-3">
							<div class="col-md-4 col-12 d-flex align-items-center">
								<img class="rounded-circle" src="{{colaborador.id|photo:'url'}}">
								<div>
									<p class="ms-3 mb-0">{{colaborador.nome_completo}}</p>
									<p class="ms-3 mb-0">{{colaborador.cargo}} - {{colaborador.setor}}</p>
									<p class="ms-3 mb-0">Contrato: {{colaborador.get_contrato}}</p>
									<p class="ms-3 mb-0">Saldo (Período): <b class="{% if '-' in graph.saldo|timedelta %} text-danger {% else %} text-success {% endif %}">{{graph.saldo|timedelta}}</b></p>
									<p class="ms-3 mb-0">Score (Período): <b>{{graph.notas.media|floatformat:02}}</b></p>
								</div>
							</div>
							<div class="col-md-4 col-12">
								<label class="form-label fs-6">Data Inicial</label>
								<div class="input-group mb-3">
									<input type="date" name="data_inicial" class="form-control" value="{{filtros.inicio}}" style="height: 43px;">
								</div>
							</div>
							<div class="col-md-4 col-12">
								<label class="form-label fs-6">Data Final</label>
								<div class="input-group mb-3">
									<input type="date" name="data_final" class="form-control" value="{{filtros.final}}" style="height: 43px;">
								</div>
							</div>
						</div>

						<div class="d-flex justify-content-end">								
							<div>
								<button type="submit" class="btn btn-primary text-light float-end ms-2">Aplicar</button>
								<a href="{% url 'detalhes-ponto' colaborador.id %}" role="button" class="btn btn-primary text-light float-end">Limpar</a>
							</div>
						</div>
					</form>
				</div>
			</div>

			<nav class="mb-3">
				<div class="nav nav-tabs" id="nav-tab" role="tablist">
					<button class="nav-link active" id="nav-registros" data-bs-toggle="tab" data-bs-target="#tab-registros" type="button" role="tab">Registro de Ponto</button>
					<button class="nav-link" id="nav-solicitacoes" data-bs-toggle="tab" data-bs-target="#tab-solicitacoes" type="button" role="tab">Solicitações</button>
				</div>
			</nav>

			<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade show active" id="tab-registros" role="tabpanel" tabindex="0">
					<div class="table-responsive pt-1">
						<table class="table table-hover align-middle table-pontos-funcionario display nowrap" width="100%">
							<thead>
								<tr>
									<th scope="col">Data</th>
									{% for nro in nro_colunas %}
										{% if forloop.counter|even %}
											<th>{{forloop.counter}}ª Saída</th>
										{% else %}
											<th>{{forloop.counter}}ª Entrada</th>
										{% endif %}
									{% endfor %}
									<th scope="col">Total</th>
									<th scope="col">Saldo</th>
									<th scope="col">Banco de Horas</th>
									<th scope="col">Motivo</th>
								</tr>
							</thead>
							<tbody>
								{% for data, funcionarios in pontos.items reversed %}
									{% for funcionario, dados in funcionarios.items %}
										{% if request.user.get_access != "common" %}
											<tr role="button" onclick="editarPonto('{{data|date:"Y-m-d"}}', {{dados.pontos|safe}})">
										{% else %}
											<tr>
										{% endif %}
											<th scope="row">{{data|date:"D"}}, {{data|date:"d/m"}}</th>
											{% for nro in nro_colunas %}
												<td>{{ dados.pontos|index:forloop.counter0|default_if_none:"--:--" }}</td>
											{% endfor %}	
											<td class="{% if "-" in dados.total|timedelta %} text-danger {% elif dados.total|timedelta == "00h 00m" %} text-dark-emphasis {% else %} text-success {% endif %}">
												{{dados.total|timedelta}}
											</td>
											<td class="{% if "-" in dados.saldo|timedelta %} text-danger {% elif dados.saldo|timedelta == "00h 00m" %} text-dark-emphasis {% else %} text-success {% endif %}">
												{{dados.saldo|timedelta}}
											</td>
											<td class="{% if "-" in dados.banco|timedelta %} text-danger {% elif dados.banco|timedelta == "00h 00m" %} text-dark-emphasis {% else %} text-success {% endif %}">
												{{dados.banco|timedelta}}
											</td>
											<td>{{dados.motivo|default_if_none:""}}</td>
										</tr>
									{% endfor %}
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>

  				<div class="tab-pane fade" id="tab-solicitacoes" role="tabpanel" tabindex="0">
					<div class="table-responsive pt-1">
						<table class="table table-hover align-middle table-solicitacoes-funcionario display nowrap" width="100%">
							<thead>
								<tr>
									<th scope="col">Data</th>
									<th scope="col">Período</th>
									<th scope="col">Tipo</th>
									<th scope="col">Motivo</th>
									<th scope="col">Status</th>
								</tr>
							</thead>
							<tbody>
								{% for item in solicitacoes %}
									<tr>
										<th scope="row">{{item.data|date:"D"}}, {{item.data|date:"d/m"}}</th>
										<td>{{item.inicio|date:"d/m/Y"}} {{item.inicio|time:"H:i"}} - {{item.final|date:"d/m/Y"}} {{item.final|time:"H:i"}}</td>
										<td>{{item.categoria}}</td>
										<td>{{item.motivo}}</td>

										{% if item.status %}
											<td><i class="fa-duotone fa-circle-check text-success"></i></td>
										{% else %}
											<td><i class="fa-duotone fa-circle-xmark text-danger"></i></td>
										{% endif %}
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

{% endblock %}

{% block javascript %}
<script>
	document.addEventListener("DOMContentLoaded", function () {
		const config = Object.assign(
			datatables_config, {
			scrollY: 500,
			scrollX: true,
			paging: false,
		});

		const table1 = $(".table-pontos-funcionario").DataTable(config);
		const table2 = $(".table-solicitacoes-funcionario").DataTable(config);

		$("#nav-registros").on("click", function() {
			setTimeout(() => {table1.draw(false)}, "200");
		});

		$("#nav-solicitacoes").on("click", function() {
			setTimeout(() => {table2.draw(false)}, "200");
		});
	});
</script>

<script>
	function editarPonto(data, pontos) {
		const modal = $("#modalEditarPonto");
		const action = `{% url "editar-ponto" "*" 0 %}`.replace("0", {{colaborador.id}}).replace("*", data);

		modal.find(".modal-title").html(`Editar Registro - ${formatarData(data)}`);
		modal.find(".modal-body").children().remove();

		if (pontos.length > 0) {
			pontos.forEach((ponto, index) => {
				// Ponto é um objeto javascript do tipo Date formato em "hh:mm"
				const indexEntrada = Math.floor((index + 2) / 2);
				const entrada = index % 2 == 0 ? `${indexEntrada}ª Entrada` : `${indexEntrada}ª Saída`;
				const input = `
					<div class="d-flex flex-nowrap rowPonto align-items-center">
						<div class="flex-fill order-1 pe-3">
							<div>
								<label class="form-label">${entrada}</label>
								<input type="time" class="form-control mb-3 w-100" name="hora" value="${ponto}">
							</div>
						</div>
						<div class="order-2 pe-3">
							<i role="button" title="Adicionar ponto" class="fa-light fa-plus text-body pt-2" onclick="adicionarPonto(this)"></i>
						</div>
						<div class="order-3">
							<i role="button" title="Remover ponto" class="fa-thin fa-trash-clock text-danger pt-2" onclick="excluirPonto(this)"></i>
						</div>
					</div>`;
	
				modal.find(".modal-body").append(input);
			});
		} else {
			const input = `
				<div class="d-flex flex-nowrap rowPonto align-items-center">
					<div class="flex-fill order-1 pe-3">
						<div>
							<label class="form-label">1ª Entrada</label>
							<input type="time" class="form-control mb-3 w-100" name="hora" value="00:00">
						</div>
					</div>
					<div class="order-2 pe-3">
						<i role="button" title="Adicionar ponto" class="fa-light fa-plus text-body pt-2" onclick="adicionarPonto(this)"></i>
					</div>
					<div class="order-3">
						<i role="button" title="Remover ponto" class="fa-thin fa-trash-clock text-danger pt-2" onclick="excluirPonto(this)"></i>
					</div>
				</div>`;

			modal.find(".modal-body").append(input);
		};		

		modal.find(".modal-content").attr("action", action);
		modal.modal("show");
	};

	function adicionarPonto(icon) {
		const rowPonto = $(icon).closest(".rowPonto");
		const novoRowPonto = rowPonto.clone();
	  
		novoRowPonto.find(`input[name="hora"]`).val("");
		rowPonto.after(novoRowPonto);
	  
		atualizarDescricoesPontos();
	};
	
	function excluirPonto(icon) {
		const rowPonto = $(icon).closest(".rowPonto");
		rowPonto.remove();
		
		atualizarDescricoesPontos();
	};

	function atualizarDescricoesPontos() {
		const rowsPonto = $(".rowPonto");
		rowsPonto.each((index, row) => {
		  const entradaSaida = index % 2 === 0 ? `${Math.floor((index + 2) / 2)}ª Entrada` : `${Math.floor((index + 2) / 2)}ª Saída`;
		  $(row).find(".form-label").text(entradaSaida);
		});
	};
</script>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		const btnEnviarSolicitacao = document.getElementById("btnEnviarSolicitacao");
		if (btnEnviarSolicitacao) {
			btnEnviarSolicitacao.addEventListener("click", function (event) {
				const inputsHora = document.querySelectorAll("#modalEditarPonto .rowPonto input[name='hora']");
				if (!(inputsHora.length % 2 === 0)) {
					event.preventDefault();
					alert("O número de entradas e saídas devem ser iguais.");
				};

				inputsHora.forEach(item => {
					if (!item.value) {
						event.preventDefault();
						alert("O número de entradas e saídas devem ser iguais.");
					};
				});
			});
		};
	});
</script>
{% endblock %}