<div class="modal fade" id="modalRespostaFeedback" tabindex="-1" aria-labelledby="modalRespostaFeedbackLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-scrollable">
		<id class="modal-content">
			<div class="modal-header bg-body">
				<h2 class="modal-title fs-5" id="modalRespostaFeedbackLabel">Resposta Feedback</h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				<div class="card p-2 mb-3 bg-body" id="feedbackRecebido"></div>
				<div class="d-flex justify-content-between mb-3" id="feedbackNotas"></div>
				<div class="card p-2 mb-3 bg-body" id="feedbackResposta"></div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger text-light" data-bs-dismiss="modal">Cancelar</button>
				<button type="submit" class="btn btn-primary text-light" id="btnResponderFeedback">Responder</button>
			</div>
		</id>
	</div>
</div>