<div class="modal fade" id="modalRelatoriosPonto" tabindex="-1" aria-labelledby="modalRelatoriosPontoLabel" aria-hidden="true">
	<div class="modal-dialog">
		<form method="POST" action="{% url 'relatorio-ponto' %}" class="modal-content" id="formRelatorioPonto" onsubmit="gerarRelatorio(this)">
			{% csrf_token %}
			<div class="modal-header">
				<h2 class="modal-title fs-5" id="modalRelatoriosPontoLabel">Relatório de Ponto</h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="form-floating mb-3">
					<select class="form-select" id="relatorioTipo" name="tipo">
						<option value="1" selected>Espelho de Ponto</option>
						<option value="2">Pontos (com Falta)</option>
						<option value="3">Abonos</option>
						<option value="4">Ajustes</option>
					</select>
					<label for="relatorioTipo">Tipo *</label>
				</div>
				<div class="row mb-3">
					<div class="col">
						<div class="form-floating">
							<input type="date" class="form-control" id="relatorioInicio" name="relatorio_inicio" placeholder required>
							<label for="relatorioInicio">Data Inicial *</label>
						</div>
					</div>
					<div class="col">
						<div class="form-floating">
							<input type="date" class="form-control" id="relatorioFinal" name="relatorio_final" placeholder required>
							<label for="relatorioFinal">Data Final *</label>
						</div>
					</div>
				</div>
				<div class="form-floating mb-3">
					<select class="form-select" size="5" id="relatorioFuncionario" name="funcionarios" multiple style="height: 12rem;">
						{% for funcionario in funcionarios %}
							<option value="{{funcionario.id}}">{{funcionario}}</option>
						{% endfor %}
					</select>
					<label for="relatorioFuncionario">Colaboradores</label>
				</div>
				<div class="form-floating mb-3">
					<select class="form-select" size="5" id="fechamentoContrato" name="contrato" multiple style="height: 12rem;">
						{% for contrato in contratos %}
							<option value="{{contrato.id}}">{{contrato}}</option>
						{% endfor %}
					</select>
					<label for="fechamentoContrato">Contrato</label>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-tertiary text-light" data-bs-dismiss="modal">Cancelar</button>
				<button type="submit" class="btn btn-secondary text-light">Gerar</button>
			</div>
		</form>
	</div>
</div>