<div class="modal fade" id="modalAdicionarSaldo" tabindex="-1" aria-labelledby="modalAdicionarSaldoLabel" aria-hidden="true">
	<div class="modal-dialog">
		<form method="POST" class="modal-content" action="{% url 'adicionar-saldo' %}" id="formAdicionarSaldo">
			{% csrf_token %}
			<div class="modal-header bg-body">
				<h2 class="modal-title fs-5" id="modalAdicionarSaldoLabel">Adicionar Saldo</h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="form-floating mb-3">
					<select class="form-select" id="saldoFuncionario" name="funcionario" required>
					  <option value="">Selecione um Colaborador</option>
					  {% for funcionario in funcionarios %}
					  	<option value="{{funcionario.id}}">{{funcionario}}</option>
					  {% endfor %}
					</select>
					<label for="saldoFuncionario">Colaborador *</label>
				</div>
				<div class="form-floating mb-3">
					<input type="date" class="form-control" id="saldoData" name="data" placeholder required>
					<label for="saldoData">Data Saldo *</label>
				</div>
				<div class="form-floating mb-3">
					<input type="text" class="form-control" name="intervalo" id="saldoIntervalo" placeholder required>
					<label class="form-label" for="saldoIntervalo">Total *</label>
					<div class="form-text" id="saldoIntervaloHelp">Formato: hh:mm:ss</div>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="on" id="saldoDescontoFolha" name="folha">
					<label class="form-check-label" for="saldoDescontoFolha">Desconto em Folha de Pagamento</label>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-tertiary text-light" data-bs-dismiss="modal">Cancelar</button>
				<button type="submit" class="btn btn-info text-light">Salvar</button>
			</div>
		</form>
	</div>
</div>