{% extends "base.html" %}
{% load static %}
{% load custom_tags %}

{% block title %} | Avaliações{% endblock %}

{% block content %}

{% include "includes/messages.html" %}
{% include "includes/adicionar-avaliacao.html" %}
{% include "includes/duplicar-avaliacao.html" %}

<div class="fluid-container p-4 m-0">
  	<div class="card w-100">
		<div class="card-header bg-primary text-light d-flex align-items-center justify-content-between border-bottom border-light">
			<div>Avaliações</div>
			<div class="btn-group">
				{% if request.user.get_access != 'common' %}
					<button class="btn btn-secondary text-light" type="button" title="Nova avaliação" data-bs-toggle="modal" data-bs-target="#modalAdicionarAvaliacao">
						Adicionar
					</button>
				{% endif %}
			</div>
		</div>
		<div class="card-body">
			<table class="table table-hover align-middle table-avaliacoes">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Título</th>
						<th scope="col">Período</th>
						<th scope="col">Avaliado</th>
						<th scope="col">Data Encerramento</th>
						<th scope="col" class="text-center">Status</th>
						{% if request.user.get_access == "admin" %}
							<th scope="col" class="text-center">Ações</th>
						{% endif %}
					</tr>
				</thead>
				<tbody>
					{% for avaliacao in avaliacoes %}
						<tr role="button" onclick="verAvaliacao({{avaliacao.id}})">
							<th scope="row">{{forloop.counter}}</th>
							<td>{{avaliacao.titulo}}</td>
							<td>{{avaliacao.inicio|date:"d/m/Y"}} até {{avaliacao.final|date:"d/m/Y"}}</td>
							<td>{{avaliacao.avaliado}}</td>
							<td>{{avaliacao.data_encerramento|date:"d/m/Y"}}</td>

							{% if funcionario.status %}
								<td class="text-center">
									<span class="d-none">Encerrado</span>
									<i class="fa-duotone fa-circle-xmark text-danger"></i>
								</td>
							{% else %}
								<td class="text-center">
									<span class="d-none">Aberto</span>
									<i class="fa-duotone fa-circle-check text-success"></i>
								</td>
							{% endif %}
							
							{% if request.user.get_access == "admin" %}
								<td class="text-center" role="button" onclick="duplicarAvaliacao(event, {{avaliacao.id}}, '{{avaliacao.titulo}}')" title="Duplicar Avaliação">
									<i class="fa-duotone fa-thin fa-clone fa-lg"></i>
								</td>
							{% endif %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
  </div>
</div>

{% endblock %}

{% block javascript %}
<script>
	document.addEventListener("DOMContentLoaded", function() {
		const config = Object.assign(
			datatables_config, {
			scrollY: 500,
		});

		$(".table-avaliacoes").DataTable(config);
	});
</script>

<script>
	document.addEventListener("DOMContentLoaded", function () {	
		document.getElementById("btnAdicionarPergunta").addEventListener("click", function () {
			const perguntaCount = document.getElementById("perguntasContainer").childElementCount + 1;
	
			$("#perguntasContainer").append(`
				<div id="novaPergunta${perguntaCount}">
					<hr>
					<h5 class="mb-3">Nova Pergunta ${perguntaCount}</h5>
					<input type="hidden" id="perguntaIndex${perguntaCount}" name="nova-pergunta" value="${perguntaCount}">
					<div class="form-floating mb-3">
						<input type="text" class="form-control" id="perguntaTitulo${perguntaCount}" name="pergunta-titulo[${perguntaCount}]" placeholder required>
						<label for="perguntaTitulo${perguntaCount}">Título Pergunta *</label>
					</div>
					<div class="mb-3">
						<label class="form-label" for="perguntaDescricao${perguntaCount}">Pergunta *</label>
						<textarea class="ck-editor-5" id="perguntaDescricao${perguntaCount}" name="pergunta-texto[${perguntaCount}]"></textarea>
						<span class="word-count" id="perguntaDescricao${perguntaCount}_script-word-count"></span>
					</div>
					<div class="form-floating mb-3">
						<input type="number" class="form-control" id="perguntaPeso${perguntaCount}" name="pergunta-peso[${perguntaCount}]" value="0" min="0" max="1" step="0.1" placeholder required>
						<label for="perguntaPeso${perguntaCount}">Peso Pergunta *</label>
					</div>
					<button type="button" class="btn btn-danger btn-sm" onclick="removerPergunta(${perguntaCount})">Remover</button>
				</div>
			`);
			
			iniciarCKEditor();
		});
	});

	function removerPergunta(perguntaId) {
		const perguntaElement = document.getElementById(`novaPergunta${perguntaId}`);
		if (perguntaElement) {
			perguntaElement.remove();
			delete window.editors[`perguntaDescricao${perguntaId}`];
		};
	};

	function duplicarAvaliacao(event, avaliacaoId, titulo) {
		event.stopPropagation();

		const modal = $("#modalDuplicarAvaliacao");
		const action = `{% url "duplicar-avaliacao" 0 %}`.replace("0", avaliacaoId);

		modal.find("#modalDuplicarAvaliacaoLabel").html(`Duplicar Avaliação - ${titulo}`);
		modal.find("form").attr("action", action);
		modal.modal("show");
	};

	function ParseFloatDecimal(str,val) {
		str = str.toString();
		str = str.slice(0, (str.indexOf(".")) + val + 1); 
		return Number(str);   
	};
</script>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		const btnProximo1 = document.getElementById("btnProximo1");
		const btnProximo2 = document.getElementById("btnProximo2");
		const btnConcluir = document.getElementById("btnConcluir");
	
		btnProximo1.addEventListener("click", function (event) {
			const inputs = document.getElementById("modalAdicionarAvaliacao").querySelectorAll("input");
			let allFieldsFilled = true;

			inputs.forEach(function (input) {
				if (!input.value.trim() && !input.classList.contains("ck-hidden")) {
					allFieldsFilled = false;
				}
			});

			if (!allFieldsFilled) {
				alert("Por favor, preencha todos os campos obrigatórios.");
			} else {
				btnProximo1.setAttribute("data-bs-target", "#modalAdicionarAvaliacao2");
				btnProximo1.setAttribute("data-bs-toggle", "modal");
				btnProximo1.click();
			};
		});

		btnProximo2.addEventListener("click", function (event) {
			const inputs = document.getElementById("modalAdicionarAvaliacao2").querySelectorAll("input");
			let allFieldsFilled = true;
			let pesoSomado = 0;

			inputs.forEach(function (input) {
				const valor = parseFloat(input.value);
				pesoSomado += valor;
			});

			if (!allFieldsFilled) {
				alert("Por favor, preencha todos os campos obrigatórios.");
			} else if (ParseFloatDecimal(pesoSomado, 2) !== 1) {
				alert("A soma dos pesos deve ser igual à 1.");
			} else {
				btnProximo2.setAttribute("data-bs-target", "#modalAdicionarAvaliacao3");
				btnProximo2.setAttribute("data-bs-toggle", "modal");
				btnProximo2.click();
			};
		});

		btnConcluir.addEventListener("click", function (event) {
			const options = document.getElementById("avaliacaoPerguntas");
			let pesoPerguntas = 0;
			let pesoInputs = 0;

			if (options) {
				Array.from(options.selectedOptions).forEach(option => {
					pesoPerguntas += ParseFloatDecimal(option.getAttribute("data-peso").replace(",", "."), 2);
				});
			};			

			for (let i=0; i < 100; i++) {
				const input = document.getElementById(`perguntaPeso${i}`);
				if (input) {
					pesoInputs += ParseFloatDecimal(input.value, 2);
				}
			};

			if (ParseFloatDecimal(pesoPerguntas + pesoInputs, 2) !== 1) {
				alert("A soma dos pesos deve ser igual à 1.");
			} else {
				document.getElementById("formAdicionarCurso").submit();
			};
		});
	});
	
</script>

<script>
	function verAvaliacao(avaliacaoId) {
		location.replace(`{% url 'detalhes-avaliacao' 0 %}`.replace("0", avaliacaoId));
	};
</script>
{% endblock %}