<div class="modal fade" id="modalDuplicarAvaliacao" aria-hidden="true" aria-labelledby="modalDuplicarAvaliacaoLabel" tabindex="-1">
	<div class="modal-dialog modal-lg modal-dialog-scrollable">
		<form method="POST" class="modal-content" id="formDuplicarAvaliacao">
			{% csrf_token %}
			<div class="modal-header">
				<h2 class="modal-title fs-5" id="modalDuplicarAvaliacaoLabel"></h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="form-floating mb-3">
					<select class="form-select" id="avaliacaoDuplicarFuncionarios" name="novo_avaliado">
						{% for funcionario in funcionarios %}
							<option value="{{ funcionario.id }}">{{ funcionario }} ({{funcionario.cargo}} - {{funcionario.setor}})</option>
						{% endfor %}
					</select>
					<label for="avaliacaoDuplicarFuncionarios">Avaliado *</label>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-tertiary text-light" data-bs-dismiss="modal">Cancelar</button>
				<button type="submit" class="btn btn-info text-light" name="editar-avaliacao" value="true">Salvar</button>
			</div>
		</form>
	</div>
</div>