<div class="modal fade" id="modalResponderAvaliacao" tabindex="-1" aria-labelledby="modalResponderAvaliacaoLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-scrollable">
		<form method="POST" action="" class="modal-content" id="formResponderAvaliacao">
			{% csrf_token %}
			<div class="modal-header">
				<h2 class="modal-title fs-5" id="modalResponderAvaliacaoLabel"></h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div id="smartwizard">
					<ul class="nav">
						<!-- Navigation steps will be inserted here -->
					</ul>
					<div class="tab-content">
						<!-- Step content will be inserted here -->
					</div>
				</div>				
			</div>
		</form>
	</div>
</div>