<div class="modal fade" id="modalEnviarAvaliacao" data-bs-focus="false" aria-labelledby="modalEnviarAvaliacaoLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-scrollable">
		<form method="POST" action="" class="modal-content" id="formEnviarAvaliacao">
			{% csrf_token %}
			<div class="modal-header bg-body">
				<h2 class="modal-title fs-5" id="modalEnviarAvaliacaoLabel"></h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="row mb-3">
					<div class="col">
						<label class="form-label">Desempenho</label>
						<div class="form-check">
							<input class="form-check-input me-2" type="radio" name="desempenho" value="0" id="desempenhoAbaixo" style="height: 20px; width: 20px;">
							<label class="form-check-label" for="desempenhoAbaixo">Abaixo do Esperado</label>
						</div>
						<div class="form-check">
							<input class="form-check-input me-2" type="radio" name="desempenho" value="1" id="desempenhoEsperado" style="height: 20px; width: 20px;" checked>
							<label class="form-check-label" for="desempenhoEsperado">Esperado</label>
						</div>
						<div class="form-check">
							<input class="form-check-input me-2" type="radio" name="desempenho" value="2" id="desempenhoAcima" style="height: 20px; width: 20px;">
							<label class="form-check-label" for="desempenhoAcima">Acima do Esperado</label>
						</div>
					</div>
					<div class="col">
						<label class="form-label">Potencial</label>
						<div class="form-check">
							<input class="form-check-input me-2" type="radio" name="potencial" value="0" id="potencialBaixo" style="height: 20px; width: 20px;">
							<label class="form-check-label" for="potencialBaixo">Baixo</label>
						</div>
						<div class="form-check">
							<input class="form-check-input me-2" type="radio" name="potencial" value="1" id="potencialMedio" style="height: 20px; width: 20px;" checked>
							<label class="form-check-label" for="potencialMedio">Médio</label>
						</div>
						<div class="form-check">
							<input class="form-check-input me-2" type="radio" name="potencial" value="2" id="potencialAlto" style="height: 20px; width: 20px;">
							<label class="form-check-label" for="potencialAlto">Alto</label>
						</div>
					</div>
				</div>
				<div class="mb-3">
					<label class="form-label" for="avaliacaoObservacao">Observação *</label>
					<textarea class="ck-editor-5" id="avaliacaoObservacao" name="observacao"></textarea>
					<span class="word-count" id="avaliacaoObservacao_script-word-count"></span>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger text-light" data-bs-dismiss="modal">Cancelar</button>
				<button type="submit" class="btn btn-primary text-light" id="btnEnviarFeedback">Enviar</button>
			</div>
		</form>
	</div>
</div>