{% extends "base.html" %}
{% load static %}
{% load custom_tags %}

{% block title %} | Pesquisas{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'smartwizard/smartWizard.min.css' %}">
<script src="{% static 'smartwizard/smartWizard.min.js' %}"></script>
{% endblock %}

{% block content %}

{% include "includes/messages.html" %}
{% include "includes/visualizar-pesquisa.html" %}
{% include "includes/responder-pesquisa.html" %}
{% include "includes/adicionar-pesquisa.html" %}

<div class="fluid-container p-4 m-0">
	<div class="card w-100 mb-4">
		<div class="card-header bg-primary text-light d-flex align-items-center justify-content-between border-bottom border-light">
			<div>Pesquisas & Revisões</div>

			{% if request.user.get_access != "common" %}
				<div class="btn-group">
					<button class="btn btn-secondary text-light" type="button" title="Nova pesquisa" data-bs-toggle="modal" data-bs-target="#modalAdicionarPesquisa">
						Adicionar
					</button>
				</div>
			{% endif %}
		</div>
		<div class="card-body">
			<table class="table table-hover align-middle table-pesquisas">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Título</th>
						<th scope="col">Descrição</th>
						<th scope="col">Data Encerramento</th>
						<th scope="col">Anônima</th>
						<th scope="col">Respondido</th>
						{% if request.user.get_access == "admin" %}
							<th scope="col" class="text-center">Ações</th>
						{% endif %}
					</tr>
				</thead>
				<tbody>
					{% for pesquisa in pesquisas %}
						<tr role="button" title="Clique para responder" onclick="responderPesquisa(event, {{pesquisa.respondido}}, {{pesquisa.id}})">
							<th scope="row">{{forloop.counter}}</th>
							<td>{{pesquisa.titulo}}</td>
							<td>{{pesquisa.descricao|default_if_none:""|safe|truncatechars_html:50}}</td>
							<td>{{pesquisa.data_encerramento|date:"d/m/Y"}}</td>

							{% if not pesquisa.anonimo %}
								<td><i class="fa-duotone fa-circle-xmark text-danger"></i></td>
							{% else %}
								<td><i class="fa-duotone fa-circle-check text-success"></i></td>
							{% endif %}

							{% if not pesquisa.respondido %}
								<td><i class="fa-duotone fa-circle-xmark text-danger"></i></td>
							{% else %}
								<td><i class="fa-duotone fa-circle-check text-success"></i></td>
							{% endif %}

							{% if request.user.get_access == "admin" %}
								<th class="text-center">
									<div class="d-flex justify-content-around">
										<a class="p-1" role="button" title="Editar" onclick="editarPesquisa(event, {{pesquisa.id}})">
											<i class="fa-duotone fa-pen fa-lg text-body"></i>
										</a>
										<a class="p-1" role="button" title="Respostas" onclick="verRespostas(event, '{% url 'visualizar-respostas' pesquisa.id %}')">
											<i class="fa-solid fa-chart-pie fa-lg text-body"></i>
										</a>
										<a class="p-1" role="button" title="Excluir" onclick="event.stopPropagation();" hx-post="{% url 'excluir-pesquisa' pesquisa.id %}" hx-trigger="click" hx-swap="none" hx-target="this" hx-on:htmx:after-request="location.reload()">
											<i class="fa-thin fa-x text-danger"></i>
										</a>
									</div>
								</th>
							{% endif %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

</div>

{% endblock %}

{% block javascript %}
<script>
	document.addEventListener("DOMContentLoaded", function() {
		const config = Object.assign(
			datatables_config, {
			scrollY: 500,
		});
	
		const table1 = $(".table-pesquisas").DataTable(config);
	});

	document.addEventListener("DOMContentLoaded", function () {
		// const opcoesPergunta = {{tipos|safe}};
		let perguntaIndex = 0;

		document.getElementById("adicionarPergunta").addEventListener("click", function () {
			perguntaIndex++;
			const perguntasContainer = document.getElementById("perguntasContainer");
			
			const perguntaDiv = document.createElement("div");
			perguntaDiv.className = "content-pergunta mb-3";
			perguntaDiv.innerHTML = `
				<p>Pergunta ${perguntaIndex}</p>
				<input type="hidden" name="perguntas" id="perguntaIndex">
				<!-- TITULO DA PERGUNTA -->
				<div class="form-floating mb-3">
					<input type="text" class="form-control" id="perguntaTitulo${perguntaIndex}" name="pergunta_titulo[${perguntaIndex}]" placeholder>
					<label for="perguntaTitulo${perguntaIndex}">Título da Pergunta</label>
				</div>
				<!-- TIPO DE PERGUNTA -->
				<div class="form-floating mb-3">
					<select class="form-select" id="perguntaTipo${perguntaIndex}" name="pergunta_tipo[${perguntaIndex}]" required onchange="selecionarOpcao(this, ${perguntaIndex})">
						<option value="" selected hidden>Selecione uma opção</option>
						{% for i in tipos %}
							<option value="{{ i.key }}">{{ i.value }}</option>
						{% endfor %}
					</select>
					<label for="perguntaTipo${perguntaIndex}">Tipo de Pergunta *</label>
				</div>
				<!-- OPCOES DE PERGUNTA DO TIPO SELECT -->
				<div id="divPerguntaOpcoes${perguntaIndex}"></div>
				<!-- PERGUNTA OBRIGATORIA E AÇÕES DAS OPCOES DO TIPO SELECT -->
				<div id="divPerguntaAcoes${perguntaIndex}" class="d-flex">
					<div class="form-check">
						<input class="form-check-input me-2" type="checkbox" id="perguntaObrigatorio${perguntaIndex}" name="pergunta_obrigatorio[${perguntaIndex}]" style="width: 20px; height:20px;">
						<label class="form-check-label" for="perguntaObrigatorio${perguntaIndex}" style="margin-top: 3px;">Obrigatória</label>
					</div>
				</div>
			`;
			
			perguntasContainer.appendChild(perguntaDiv);
		});
	});

	function selecionarOpcao(opcao, index) {
		const divOpcao = document.getElementById(`divPerguntaOpcoes${index}`);
		const divAcoes = document.getElementById;
		let indexOpcao = 1;

		if (opcao.value !== "TXT") {
			divOpcao.innerHTML = `
				<div class="form-floating mb-3">
					<input type="hidden" name="opcoes[${index}]" id="perguntaOpcaoIndex">
					<input type="text" class="form-control" id="perguntaOpcao${indexOpcao}" name="pergunta_opcao[${index}][${indexOpcao}]" placeholder>
					<label for="perguntaOpcao${indexOpcao}">Opção ${indexOpcao}</label>
				</div>
			`;

			$(`#divPerguntaAcoes${index}`).append(`
				<div class="button-control ms-4">
					<i class="fa-thin fa-circle-minus fa-xl me-2" role="button" title="Remover última opção" onclick="removerOpcao(${index})"></i>
					<i class="fa-thin fa-circle-plus fa-xl" role="button" title="Adicionar nova opção" onclick="adicionarOpcao(${index})"></i>
				</div>
			`);
		} else {
			[...divOpcao.children].forEach(c => c.remove())
			$(`#divPerguntaAcoes${index} .button-control`).remove();
		};
	};

	function adicionarOpcao(index) {
		let indexOpcao = document.getElementById(`divPerguntaOpcoes${index}`).children.length + 1;

		$(`#divPerguntaOpcoes${index}`).append(`
			<div class="form-floating mb-3">
				<input type="hidden" name="opcoes[${index}]" id="perguntaOpcaoIndex">
				<input type="text" class="form-control" id="perguntaOpcao${indexOpcao}" name="pergunta_opcao[${index}][${indexOpcao}]" placeholder>
				<label for="perguntaOpcao${indexOpcao}">Opção ${indexOpcao}</label>
			</div>
		`);
	};

	function removerOpcao(index) {
		let indexOpcao = document.getElementById(`divPerguntaOpcoes${index}`).children.length;

		if (indexOpcao > 1){
			$(`#divPerguntaOpcoes${index} .form-floating:last`).remove();
		};		
	};

	function editarPesquisa(event, pesquisaId) {
		event.stopPropagation();

		$.ajax({
			type: "GET",
			url: `{% url 'visualizar-pesquisa' 0 %}`.replace("0", pesquisaId),
			success: function (data) {
				const pesquisa = data.pesquisa;
				const perguntas = data.perguntas;
				const respostas = data.respostas;
				const funcionarios = data.funcionarios;

				const modal = $("#modalVisualizarPesquisa");
				const action = `{% url 'editar-pesquisa' 0 %}`.replace("0", pesquisa.id);

				modal.find("form").attr("action", action);
				modal.find("#modalVisualizarPesquisaLabel").html(`Pesquisa - ${pesquisa.titulo}`);
				modal.find("#pesquisaEditarEncerramento").val(pesquisa.encerramento);
				modal.find("#pesquisaEditarDescricao").html(pesquisa.descricao);

				if (pesquisa.anonimo) {
					modal.find("#pesquisaEditarAnonimo").attr("checked", "checked");
				} else {
					modal.find("#pesquisaEditarAnonimo").removeAttr("checked");
				};

				const selectElement = modal.find("#pesquisaEditarFuncionarios").get(0);
				const listagemFuncionarios = funcionarios.map(obj => obj.id);
				[...selectElement.options].forEach(item => {
					if (listagemFuncionarios.includes(parseInt(item.value))) {
						item.selected = true;
					};
				});

				modal.modal("show");
			},
			error: function (error) {
				alert(error.responseJSON ? error.responseJSON.mensagem : error);
			}
		});
	};

	function verRespostas(event, url) {
		event.stopPropagation();
		window.location.href = url;
	};

	function responderPesquisa(event, respondido, pesquisaId) {
		event.stopPropagation();

		if (respondido) {
			alert("Pesquisa já respondida!");
			return;
		};

		$.ajax({
			type: "GET",
			url: `{% url 'visualizar-pesquisa' 0 %}`.replace("0", pesquisaId),
			success: function (data) {
				const pesquisa = data.pesquisa;
				const perguntas = data.perguntas;
				const modal = $("#modalResponderPesquisa");
				const action = `{% url 'responder-pesquisa' 0 %}`.replace("0", pesquisa.id);

				const dataConvertida = new Date(pesquisa.encerramento);
				const hoje = new Date();

				if (dataConvertida < hoje.setHours(0, 0, 0, 0)) {
					alert("Pesquisa já foi encerrada!");
					return;
				};
	
				// Set form action and modal title
				modal.find("form").attr("action", action);
				modal.find("#modalResponderPesquisaLabel").html(`Responder a Pesquisa ${pesquisa.titulo}`);
	
				// Clear existing navigation and content
				modal.find(".modal-body").empty();

				modal.find(".modal-body").append(`
					<div id="smartwizard-${pesquisaId}">
						<ul class="nav"></ul>
						<div class="tab-content"></div>
					</div>
				`);				
	
				// Create navigation items and tab content for each question
				perguntas.forEach((pergunta, index) => {
					// Add navigation tab for each question
					const navItem = document.createElement("li");
					navItem.className = "nav-item";
					navItem.innerHTML = `<a class="nav-link" href="#pergunta-${index + 1}"><div class="num">${index + 1}</div></a>`;
					$(`#smartwizard-${pesquisaId} .nav`).append(navItem);
	
					// Create step content
					const stepContent = document.createElement("div");
					stepContent.className = "tab-pane";
					stepContent.id = `step-${index + 1}`;
					
					// Add label for the question
					stepContent.innerHTML = `<p class="text-center fst-italic">${pergunta.titulo}</p>`;
					const helper = document.createElement("small");
	
					// Check if the question type is 'SLC' for select options or 'TXT' for text input
					if (pergunta.tipo === "SLC") {
						const select = document.createElement("select");
						select.className = "form-select";
						select.name = `resposta_${pergunta.id}`;
						select.required = pergunta.obrigatorio;
	
						// Add options to the select
						pergunta.opcoes.forEach((opcao) => {
							const option = document.createElement("option");
							option.value = opcao;
							option.textContent = opcao;
							select.appendChild(option);
						});

						stepContent.appendChild(select);

					} else if (pergunta.tipo === "SLM") {
							const select = document.createElement("select");
							select.className = "form-select";
							select.name = `resposta_${pergunta.id}`;
							select.multiple = true;
							select.style.height = "12rem";
							select.required = pergunta.obrigatorio;
		
							// Add options to the select
							pergunta.opcoes.forEach((opcao) => {
								const option = document.createElement("option");
								option.value = opcao;
								option.textContent = opcao;
								select.appendChild(option);
							});
	
							stepContent.appendChild(select);
							helper.innerHTML = "Pergunta de múltipla seleção. Para marcar mais de 1 opção, selecione pressionando CTRL";

					} else if (pergunta.tipo === "TXT") {
						const input = document.createElement("input");
						input.type = "text";
						input.className = "form-control";
						input.name = `resposta_${pergunta.id}`;
						input.required = pergunta.obrigatorio;
						stepContent.appendChild(input);
					}
					
					const small = document.createElement("small");
					small.innerHTML = `${pergunta.obrigatorio ? "Essa pergunta é obrigatória *": ""}`;
					stepContent.appendChild(small);
					stepContent.appendChild(document.createElement("br"));
					stepContent.appendChild(helper);
	
					// Append step content to the tab content container
					$(`#smartwizard-${pesquisaId} .tab-content`).append(stepContent);
				});
	
				// Initialize SmartWizard with settings
				$(`#smartwizard-${pesquisaId}`).smartWizard({
					theme: "dots",
					justified: true,
					autoAdjustHeight: true,
					lang: {
						next: "Próximo",
						previous: "Anterior",
					},
					toolbar: {
						position: "bottom",
						showNextButton: true,
						showPreviousButton: true,
						extraHtml: `
							<button type="button" class="btn btn-tertiary text-light" data-bs-dismiss="modal">Cancelar</button>
							<button type="submit" class="btn btn-info text-light">Enviar</button>
						`
					},
					transition: {
						animation: "fade",
						speed: "400",
					},
				});
	
				// Show the modal
				modal.modal("show");
			},
			error: function (error) {
				alert(error.responseJSON ? error.responseJSON.mensagem : error);
			}
		});
	};
</script>
{% endblock %}