<div class="modal fade" id="modalSolicitarAbono" tabindex="-1" aria-labelledby="modalSolicitarAbonoLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<form method="POST" action="{% url 'solicitar-abono' %}" enctype='multipart/form-data' class="modal-content" id="formSolicitarAbono">
			{% csrf_token %}
			<div class="modal-header">
				<h2 class="modal-title fs-5" id="modalSolicitarAbonoLabel">Solicitar Abono</h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				{% if request.user.get_access == "admin" %}
					<div class="form-floating mb-3">
						<select class="form-select" id="abonoFuncionario" name="colaborador">
							<option value="" selected hidden>Selecione um colaborador...</option>
							{% for funcionario in funcionarios %}
								<option value="{{funcionario.id}}">{{funcionario}}</option>
							{% endfor %}
						</select>
						<label class="form-label" for="abonoFuncionario">Colaborador</label>
					</div>
				{% endif %}
				<div class="form-floating mb-3">
					<select class="form-select" id="abonoTipoSolicitacao" name="solicitacao">
						<option value="periodo">Período</option>
						<option value="tempo">Tempo Faltante</option>
					</select>
					<label for="abonoTipoSolicitacao">Tipo de Solicitação</label>
				</div>
				<div class="row mb-3" id="divPeriodoAbono">
					<div class="col">
						<label class="form-label" for="abonoInicio">Inicio do Período</label>
						<input type="datetime-local" class="form-control" name="inicio" id="abonoInicio">
					</div>
					<div class="col">
						<label class="form-label" for="abonoFinal">Final do Período</label>
						<input type="datetime-local" class="form-control" name="final" id="abonoFinal">
					</div>
				</div>
				<div class="row d-none" id="divTempoAbono">
					<div class="col">
						<label class="form-label" for="abonoFinal">Data do Abono</label>
						<input type="date" class="form-control" name="data" id="abonoData">
					</div>
				</div>
				<div class="form-floating mb-3">
					<select class="form-select" name="tipo" id="abonoTipo" onchange="alertaAbono(this)" required>
						{% for key, value in tipos.items %}
							<option value="{{key}}">{{value}}</option>
						{% endfor %}
					</select>
					<label for="abonoTipo">Tipo de Abono</label>
				</div>
				<div class="form-floating mb-3">
					<textarea class="form-control" placeholder="Motivo" id="abonoMotivo" name="motivo" required></textarea>
					<label for="abonoMotivo">Motivo da solicitação</label>
				</div>
				<div class="input-group mb-3">
					<label class="input-group-text" for="abonoArquivo">Arquivo</label>
					<input type="file" class="form-control" id="abonoArquivo" name="arquivo">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-tertiary text-light" data-bs-dismiss="modal">Cancelar</button>
				<button type="submit" class="btn btn-info text-light">Enviar</button>
			</div>
		</form>
	</div>
</div>