<div class="modal fade" id="modalDetalhesFechamento" tabindex="-1" aria-labelledby="modalDetalhesFechamentoLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable">
		<form method="POST" action="" class="modal-content" id="formExcluirFechamento">
			{% csrf_token %}
			<div class="modal-header bg-body">
				<h2 class="modal-title fs-5" id="modalDetalhesFechamentoLabel"></h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<ol class="list-group"></ol>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-tertiary text-light" data-bs-dismiss="modal">Cancelar</button>
				<button type="submit" class="btn btn-danger text-light">Excluir</button>
			</div>
		</form>
	</div>
</div>