<div class="modal fade" id="modalVisualizarSolicitacao" tabindex="-1" aria-labelledby="modalVisualizarSolicitacaoLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header bg-body">
				<h2 class="modal-title fs-5" id="modalVisualizarSolicitacaoLabel"></h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="infos"></div>
				<div class="horas"></div>
				<div class="form-floating mt-3">
					<textarea class="form-control" id="solicitacaoMotivo" placeholder disabled></textarea>
					<label for="solicitacaoMotivo">Motivo</label>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger text-light btn-reprovar">Reprovar</button>
				<button type="button" class="btn btn-secondary text-light btn-aprovar">Aprovar</button>
			</div>
		</div>
	</div>
</div>