<div class="modal fade" id="modalAdicionarFuncionario" tabindex="-1" aria-labelledby="modalAdicionarFuncionarioLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-scrollable">
		<form method="POST" action="{% url 'adicionar-funcionario' %}" class="modal-content" id="formAdicionarFuncionario">
			{% csrf_token %}
			<div class="modal-header">
				<h2 class="modal-title fs-5" id="modalAdicionarFuncionarioLabel">Novo Colaborador</h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<!-- Matricula e Sexo -->
				<div class="row">
					<div class="col">
						<div class="form-floating mb-3">
							<input type="text" class="form-control" id="funcionarioMatricula" name="matricula" placeholder required>
							<label class="form-label" for="funcionarioMatricula">Matrícula *</label>
						</div>
					</div>
					<div class="col">
						<div class="form-check d-flex">
							<input class="form-check-input me-2" type="radio" name="sexo" id="funcionarioMasculino" value="M" style="height: 20px; width: 20px;" checked>
							<label class="form-check-label" for="funcionarioMasculino">Masculino</label>
						</div>
						<div class="form-check d-flex mb-4">
							<input class="form-check-input me-2" type="radio" name="sexo" id="funcionarioFeminino" value="F" style="height: 20px; width: 20px;">
							<label class="form-check-label" for="funcionarioFeminino">Feminino</label>
						</div>
					</div>
				</div>

				<!-- Nome/Nome Social-->
				<div class="row">
					<div class="col">
						<div class="form-floating mb-3">
							<input type="text" class="form-control" id="funcionarioNome" name="nome_completo" placeholder required>
							<label class="form-label" for="funcionarioNome">Nome Completo *</label>
						</div>
					</div>
					<div class="col">
						<div class="form-floating mb-3">
							<input type="text" class="form-control" id="funcionarioSocial" name="nome_social" placeholder>
							<label class="form-label" for="funcionarioSocial">Nome Social</label>
						</div>
					</div>
				</div>

				<!-- Nome dos Pais -->
				<div class="row">
					<div class="col">
						<div class="form-floating mb-3">
							<input type="text" class="form-control" id="funcionarioPai" name="nome_mae" placeholder>
							<label class="form-label" for="funcionarioPai">Nome da Mãe</label>
						</div>
					</div>
					<div class="col">
						<div class="form-floating mb-3">
							<input type="text" class="form-control" id="funcionarioMae" name="nome_pai" placeholder>
							<label class="form-label" for="funcionarioMae">Nome do Pai</label>
						</div>
					</div>
				</div>

				<!-- CPF, RG e Data de Expedição -->
				<div class="row">
					<div class="col">
						<div class="form-floating mb-3">
							<input type="text" class="form-control" id="funcionarioCPF" name="cpf" placeholder required>
							<label class="form-label" for="funcionarioCPF">CPF *</label>
						</div>
					</div>
					<div class="col">
						<div class="form-floating mb-3">
							<input type="text" class="form-control" id="funcionarioRG" name="rg" placeholder required>
							<label class="form-label" for="funcionarioRG">RG *</label>
						</div>
					</div>
					<div class="col">
						<div class="form-floating mb-3">
							<input type="date" class="form-control" id="funcionarioExpedicao" name="data_expedicao" placeholder>
							<label for="funcionarioExpedicao" class="form-label">Data Expedição</label>
						</div>
					</div>
				</div>

				<!-- Emails -->
				<div class="row">
					<div class="col">
						<div class="form-floating mb-3">
							<input type="email" class="form-control" id="funcionarioEmail" name="email" placeholder required>
							<label class="form-label" for="funcionarioEmail">Email *</label>
						</div>
					</div>
					<div class="col">
						<div class="form-floating mb-3">
							<input type="email" class="form-control" id="funcionarioEmailSecundario" name="email_sec" placeholder>
							<label class="form-label" for="funcionarioEmailSecundario">Email Secundário</label>
						</div>
					</div>
				</div>

				<!-- Celular/Contato -->
				<div class="row">
					<div class="col">
						<div class="form-floating mb-3">
							<input type="text" class="form-control" id="funcionarioContato" name="contato" placeholder>
							<label class="form-label" for="funcionarioContato">Contato</label>
						</div>
					</div>
					<div class="col">
						<div class="form-floating mb-3">
							<input type="text" class="form-control" id="funcionarioContatoSecundario" name="contato_sec" placeholder>
							<label class="form-label" for="funcionarioContato">Contato Secundário</label>
						</div>
					</div>
					<div class="col">
						<div class="form-floating mb-3">
							<input type="text" class="form-control" id="funcionarioResponsavelContato" name="resp_contato_sec" placeholder>
							<label class="form-label" for="funcionarioResponsavelContato">Resp. Contato</label>
						</div>
					</div>
				</div>

				<!-- Estado Civil e Data Nascimento -->
				<div class="row">
					<div class="col">
						<div class="form-floating">
							<select class="form-select" id="funcionarioEstadoCivil" name="estado_civil" required>
								<option value="" selected hidden>Selecione um Estado Civil</option>
								{% for civil in civis %}
									<option value="{{civil.id}}">{{civil.nome}}</option>
								{% endfor %}
							</select>
							<label class="form-label" for="funcionarioEstadoCivil">Estado Civil *</label>
						</div>
					</div>
					<div class="col">
						<div class="form-floating mb-3">
							<input type="date" class="form-control" id="funcionarioNascimento" name="data_nascimento" placeholder required>
							<label class="form-label" for="funcionarioNascimento">Data Nascimento *</label>
						</div>
					</div>
				</div>

				<!-- Estado e Cidade -->
				<div class="row">
					<div class="col">
						<div class="form-floating mb-3">
							<select class="form-select" id="funcionarioEstado" name="estado" required onchange="updateSelectCidades(this.value)">
								<option value="" selected hidden>Selecione um Estado</option>
								{% for estado in estados %}
									<option value="{{estado.id}}">{{estado.name}}</option>
								{% endfor %}
							</select>
							<label class="form-label" for="funcionarioEstado">Estado *</label>
						</div>
					</div>
					<div class="col">
						<div class="form-floating mb-3">
							<select class="form-select" id="funcionarioCidade" name="cidade" required>
								<option value="" selected hidden>Selecione uma Cidade</option>
								<option value="" disabled>Primeiro selecione um Estado</option>
							</select>
							<label class="form-label" for="funcionarioCidade">Cidade *</label>
						</div>
					</div>
				</div>

				<!-- Rua -->
				<div class="form-floating mb-3">
					<input type="text" class="form-control" id="funcionarioRua" name="rua" placeholder required>
					<label class="form-label" for="funcionarioRua">Endereço *</label>
				</div>

				<!-- Número, Complemento e CEP -->
				<div class="row">
					<div class="col-3">
						<div class="form-floating mb-3">
							<input type="text" class="form-control" id="funcionarioNumero" name="numero" placeholder required>
							<label class="form-label" for="funcionarioNumero">Número *</label>
						</div>
					</div>
					<div class="col-6">
						<div class="form-floating mb-3">
							<input type="text" class="form-control" id="funcionarioComplemento" name="complemento" placeholder>
							<label class="form-label" for="funcionarioComplemento">Complemento</label>
						</div>
					</div>
					<div class="col-3">
						<div class="form-floating mb-3">
							<input type="text" class="form-control" id="funcionarioCEP" name="cep" placeholder required>
							<label class="form-label" for="funcionarioCEP">CEP *</label>
						</div>
					</div>
				</div>

				<!-- Setor e Cargo -->
				<div class="row">
					<div class="col">
						<div class="form-floating mb-3">
							<select class="form-select" id="funcionarioSetor" name="setor" required>
								<option value selected hidden>Selecione um Setor</option>
								{% for setor in setores %}
									<option value="{{setor.id}}">{{setor.setor}}</option>
								{% endfor %}
							</select>
							<label class="form-label" for="funcionarioSetor">Setor *</label>
						</div>
					</div>
					<div class="col">
						<div class="form-floating mb-3">
							<select class="form-select" id="funcionarioCargo" name="cargo" required>
								<option value selected hidden>Selecione um Cargo</option>
								{% for cargo in cargos %}
									<option value="{{cargo.id}}">{{cargo.cargo}}</option>
								{% endfor %}
							</select>
							<label class="form-label" for="funcionarioCargo">Cargo *</label>
						</div>
					</div>
				</div>

				<!-- Jornada e Salário e Início Férias -->
				<div class="row">
					<div class="col">
						<div class="form-floating mb-3">
							<select class="form-select" id="funcionarioContrato" name="contrato" required>
								<option value selected hidden>Selecione uma Jornada</option>
								{% for contrato in contratos %}
									<option value="{{contrato.id}}">{{contrato.titulo}} - {{contrato.descricao}}</option>
								{% endfor %}
							</select>
							<label class="form-label" for="funcionarioContrato">Jornada *</label>
						</div>
					</div>
					<div class="col">
						<div class="form-floating mb-3">
							<input type="text" class="form-control" id="funcionarioSalario" name="salario" placeholder>
							<label class="form-label" for="funcionarioSalario">Salário</label>
						</div>
					</div>
					<div class="col">
						<div class="form-floating mb-3">
							<input type="date" class="form-control" id="funcionarioInicioFerias" name="data_inicio_ferias" placeholder>
							<label class="form-label" for="funcionarioInicioFerias">Data Início Férias</label>
						</div>
					</div>
				</div>

				<!-- Gerente e Data Contratação e Conta Bancária -->
				<div class="row">
					<div class="col">
						<div class="form-floating mb-3">
							<select class="form-select" id="funcionarioGerente" name="gerente">
								<option value="" selected hidden>Selecione um Responsável</option>
								<option value="">Nenhum Responsável</option>
								{% for funcionario in funcionarios %}
									{% if funcionario.usuario.is_gerente %}
										<option value="{{funcionario.id}}">{{funcionario}}</option>
									{% endif %}
								{% endfor %}
							</select>
							<label class="form-label" for="funcionarioGerente">Responsável</label>
						</div>
					</div>
					<div class="col">
						<div class="form-floating mb-3">
							<input type="date" class="form-control" id="funcionarioContratacao" name="data_contratacao" placeholder required>
							<label class="form-label" for="funcionarioContratacao">Data Contratação *</label>
						</div>
					</div>
					<div class="col">
						<div class="form-floating mb-3">
							<input type="text" class="form-control" id="funcionarioBanco" name="conta_banco" placeholder>
							<label class="form-label" for="funcionarioBanco">Conta Bancária</label>
						</div>
					</div>
				</div>

				<!-- Flag is_gerente  -->
				<div class="form-check mb-3">
					<input class="form-check-input me-2" type="checkbox" value="staff" id="funcionarioStaff" name="staff" style="width: 20px; height: 20px;">
					<label class="form-check-label" for="funcionarioStaff" style="margin-top: 3px;">Gerente</label>
				</div>

				<small class="fs-7">O campo <i>Matrícula</i> é único por colaborador</small>
				<br>
				<small class="fs-7">* Campos obrigatórios</small>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-tertiary text-light" data-bs-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-secondary text-light" onclick="consultarFuncionario()">Salvar</button>
			</div>
		</form>
	</div>
</div>