<div class="modal fade" id="modalObservacoesFuncionario" data-bs-focus="false" aria-labelledby="modalObservacoesFuncionarioLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-scrollable">
		<form method="POST" class="modal-content" id="formObservacoesFuncionario">
			{% csrf_token %}
			<div class="modal-header bg-body">
				<h2 class="modal-title fs-5" id="modalObservacoesFuncionarioLabel">Informações & Anotações - {{colaborador}}</h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="mb-3">
					<label class="form-label" for="funcionarioObservacoes"></label>
					<textarea class="ck-editor-5" id="funcionarioObservacoes" name="observacao"></textarea>
					<span class="word-count" id="funcionarioObservacoes_script-word-count"></span>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-tertiary text-light" data-bs-dismiss="modal">Cancelar</button>
				<button type="submit" class="btn btn-secondary text-light">Salvar</button>
			</div>
		</form>
	</div>
</div>