<div class="modal fade" id="modalAdicionarDocumento" tabindex="-1" aria-labelledby="modalAdicionarDocumentoLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title fs-5" id="modalAdicionarDocumentoLabel">Enviar Documentos</h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" style="height: 80vh;">
				<div id="uppy"></div>
			</div>
		</div>
	</div>
</div>