{% extends "base.html" %}
{% load static %}
{% block auth %}

{% include "includes/messages.html" %}

<div class="d-flex align-items-center min-vh-100">
	<div class="container">
		<div class="row m-auto d-flex align-items-center">
			<div class="col-md-6">
				<div class="row justify-content-center">
					<img src="{% static 'images/background/mailbox.svg' %}" class="img img-fluid">
				</div>
			</div>
			<div class="col-md-6">
				<div class="row justify-content-center">
					<div class="col-md-8">
						<div class="mb-4">
							<h3>Verifique seu email</h3>
							<p>Enviamos um email com instruções para que você possa recuperar sua senha, você deve receber em breve!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}