<form method="POST" class="modal-content" id="formAdicionarCurso">
	{% csrf_token %}
	<div class="modal fade" id="modalAdicionarAvaliacao" tabindex="-1" aria-labelledby="modalAdicionarAvaliacaoLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title fs-5" id="modalAdicionarAvaliacaoLabel">Nova Avaliação</h2>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="form-floating mb-3">
						<input type="text" class="form-control" id="avaliacaoTitulo" name="titulo" placeholder>
						<label for="avaliacaoTitulo">Título *</label>
					</div>
					<div class="mb-3">
						<label class="form-label" for="avaliacaoDescricao">Descrição *</label>
						<textarea class="ck-editor-5" id="avaliacaoDescricao" name="descricao"></textarea>
						<span class="word-count" id="avaliacaoDescricao_script-word-count"></span>
					</div>
					<div class="form-floating mb-3">
						<select class="form-select" id="avaliacaoAvaliado" name="avaliado" style="height: 100%;">
							{% for funcionario in funcionarios %}
								<option value="{{ funcionario.id }}">{{ funcionario }}</option>
							{% endfor %}
						</select>
						<label for="avaliacaoAvaliado">Avaliado *</label>
					</div>
					<div class="row mb-3">
						<div class="col">
							<div class="form-floating">
								<input type="date" class="form-control" id="avaliacaoInicio" name="inicio" value="{% now "Y-m-d" %}" placeholder>
								<label class="form-label" for="avaliacaoInicio">Periodo Inicial *</label>
							</div>
						</div>
						<div class="col">
							<div class="form-floating">
								<input type="date" class="form-control" id="avaliacaoFinal" name="final" value="{% now "Y-m-d" %}" placeholder>
								<label class="form-label" for="avaliacaoFinal">Periodo Final *</label>
							</div>
						</div>
						<div class="col">
							<div class="form-floating">
								<input type="date" class="form-control" id="avaliacaoEncerramento" name="encerramento" value="{% now "Y-m-d" %}" placeholder>
								<label class="form-label" for="avaliacaoEncerramento">Data de Encerramento *</label>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-tertiary text-light" data-bs-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-secondary text-light" id="btnProximo1">Próximo</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modalAdicionarAvaliacao2" aria-hidden="true" aria-labelledby="modalAdicionarAvaliacaoLabel2" tabindex="-1">
		<div class="modal-dialog modal-xl modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title fs-5" id="modalAdicionarAvaliacaoLabel2">Nova Avaliação</h2>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<label class="form-label">Pesos por Tipo de Avaliador</label>
					<div class="row">
						{% for nivel in niveis %}
							<div class="col">
								<div class="form-floating">
									<input type="number" class="form-control" id="avaliacao{{nivel.value|title}}" name="{{nivel.value|lower}}" value="0" min="0" max="1" step="0.1" placeholder required>
									<label class="form-label" for="avaliacao{{nivel.value|title}}">{{nivel.value|title}} *</label>
								</div>
							</div>
						{% endfor %}
					</div>
					<div class="form-text mb-3">A soma dos pesos deve ser igual à 1</div>
					<div class="form-floating mb-3">
						<select class="form-select" id="avaliacaoAvaliadores" name="avaliadores" multiple style="height: 12rem;">
							{% for funcionario in funcionarios %}
								<option value="{{ funcionario.id }}">{{ funcionario }} ({{funcionario.cargo}} - {{funcionario.setor}})</option>
							{% endfor %}
						</select>
						<label for="avaliacaoAvaliadores">Avaliadores</label>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-tertiary text-light" data-bs-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-secondary text-light" data-bs-target="#modalAdicionarAvaliacao" data-bs-toggle="modal">Voltar</button>
					<button type="button" class="btn btn-secondary text-light" id="btnProximo2">Próximo</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modalAdicionarAvaliacao3" aria-hidden="true" aria-labelledby="modalAdicionarAvaliacaoLabel3" tabindex="-1">
		<div class="modal-dialog modal-xl modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title fs-5" id="modalAdicionarAvaliacaoLabel3">Nova Avaliação</h2>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					{% if perguntas %}
						<div class="form-floating mb-3">
							<select class="form-select" id="avaliacaoPerguntas" name="perguntas" multiple style="height: 12rem;">
								{% for pergunta in perguntas %}
									<option value="{{ pergunta.id }}" data-peso="{{pergunta.peso}}">{{ pergunta }}</option>
								{% endfor %}
							</select>
							<label for="avaliacaoPerguntas">Perguntas</label>
						</div>
					{% else %}
						<input type="hidden" id="perguntaIndex0" name="nova-pergunta" value="0">
						<div class="form-floating mb-3">
							<input type="text" class="form-control" id="perguntaTitulo0" name="pergunta-titulo[0]" placeholder required>
							<label for="perguntaTitulo0">Título Pergunta *</label>
						</div>
						<div class="mb-3">
							<label class="form-label" for="perguntaDescricao0">Pergunta *</label>
							<textarea class="ck-editor-5" id="perguntaDescricao0" name="pergunta-texto[0]"></textarea>
							<span class="word-count" id="perguntaDescricao0_script-word-count"></span>
						</div>
						<div class="form-floating mb-3">
							<input type="number" class="form-control" id="perguntaPeso0" name="pergunta-peso[0]" value="0" min="0" max="1" step="0.1" placeholder required>
							<label for="perguntaPeso0">Peso Pergunta *</label>
						</div>
					{% endif %}
					
					<!-- Refazer a criação de perguntas -->
					<div id="perguntasContainer"></div>
					

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-tertiary text-light" data-bs-dismiss="modal">Cancelar</button>
					<button type="button" class="btn bg-primary-subtle text-primary-emphasis" id="btnAdicionarPergunta">Adicionar Pergunta</button>
					<button type="button" class="btn btn-secondary text-light" data-bs-target="#modalAdicionarAvaliacao2" data-bs-toggle="modal">Voltar</button>
					<button type="button" class="btn btn-secondary text-light" id="btnConcluir">Concluir</button>
				</div>
			</div>
		</div>
	</div>

</form>